<!DOCTYPE html>
<html lang="pt-br" >
<!--==========-->
	<head>
		<!--=====Meta Config.=====-->
	  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
		<!--=====Meta Config.=====-->

		<!--=====Title Tab=====-->
	  <title>Grupo Roveri</title>
		<!--=====End Title Tab=====-->

		<!--=====Favicon=====-->
		<link rel="icon" href="images/favicon.png">
		<!--=====End Favicon=====-->
		
		<!--=====CSS Import Files=====-->
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
		<link rel='stylesheet' href='https://unpkg.com/swiper/swiper-bundle.min.css'>
		<link rel="stylesheet" href="./style.css">
		<!--=====End CSS Import Files=====-->

		<!--=====Script Header and Footer Import=====-->
		<script>
			fetch("./templates/header.html")
				.then(response => {
					return response.text()
				})
				.then(data => {
					document.querySelector("header").innerHTML = data;
				});
			fetch("./templates/footer.html")
				.then(response => {
					return response.text()
				})
				.then(data => {
					document.querySelector("footer").innerHTML = data;
				});
		</script>
		<!--=====End Script Header and Footer Import=====-->	

		<!--=====Boxicons Import API=====-->
		<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
		<!--=====End Boxicons Import API=====-->
	</head>
<!--==========-->
	<body>

		<header></header>
		<!--=====Index Body=====-->
		<div class="container">
			<!--=====Body Swiper=====-->
			<div class="mySwiper">
				<div class="main-wrapper swiper-wrapper">
					<!--=====Body Swiper Elements=====-->
					<div class="main swiper-slide" id="beach">
						<div class="left-side">
							<div class="main-wrapper">
								<h3 class="main-header">Closca Bottle</h3>
								<h1 class="main-title">Beach</h1>
								<h2 class="main-subtitle">€ 39.90</h2>
							</div>
							<div class="main-content">
								<div class="main-content__title">In 20 years, there could be more plastic in our oceans than fish.</div>
								<div class="main-content__subtitle">Plastic pollution injures more than 100.000 marine animals every year.It takes around 450 years for one plastic bottle to decompose.</div>
								<div class="more-menu">Shop Now
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.7" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
										<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
										<line x1="-5" y1="12" x2="19" y2="12"></line>
										<line x1="15" y1="16" x2="19" y2="12"></line>
										<line x1="15" y1="8" x2="19" y2="12"></line>
									</svg>
								</div>
							</div>
						</div>
						<div class="center">
							<div class="right-side__img">
								<img class="bottle-bg" src="./images/base.jpg" alt="">
							</div>
						</div>
					</div>
					<div class="main swiper-slide" id="savanna">
						<div class="left-side">
							<div class="main-wrapper">
								<h3 class="main-header">Closca Bottle</h3>
								<h1 class="main-title">Savanna</h1>
								<h2 class="main-subtitle">€ 39.90</h2>
							</div>
							<div class="main-content">
								<div class="main-content__title">The Earth’s area affected by desertification is approx 11 times India’s size.</div>
								<div class="main-content__subtitle">The Savannas act as a carbon sink, absorbing CO2 from the atmosphere and helping to maintain the balance of global temperatures.</div>
								<div class="more-menu">Shop Now
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.7" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
										<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
										<line x1="-5" y1="12" x2="19" y2="12"></line>
										<line x1="15" y1="16" x2="19" y2="12"></line>
										<line x1="15" y1="8" x2="19" y2="12"></line>
									</svg>
								</div>
							</div>
						</div>
						<div class="center">
							<div class="right-side__img">
								<img class="bottle-bg" src="https://images.unsplash.com/photo-1613109526778-27605f1f27d2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2340&q=80" alt="">
								<img class="bottle-img" src="https://cdn.shopify.com/s/files/1/0689/1443/t/34/assets/savanna_OK.png?v=4783820813181844557" />
							</div>
						</div>
					</div>
					<div class="main swiper-slide" id="glacier">
						<div class="left-side">
							<div class="main-wrapper">
								<h3 class="main-header">Closca Bottle</h3>
								<h1 class="main-title">Glacier</h1>
								<h2 class="main-subtitle">€ 39.90</h2>
							</div>
							<div class="main-content">
								<div class="main-content__title">Glaciers contain 75% of the World's freshwater.
								</div>
								<div class="main-content__subtitle">The effects of melting ice glaciers are biodiversity loss, the rising of the sea level and the deficiency of freshwater, among others.</div>
								<div class="more-menu">Shop Now
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="1.7" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
										<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
										<line x1="-5" y1="12" x2="19" y2="12"></line>
										<line x1="15" y1="16" x2="19" y2="12"></line>
										<line x1="15" y1="8" x2="19" y2="12"></line>
									</svg>
								</div>
							</div>
						</div>
						<div class="center">
							<div class="right-side__img">
								<img class="bottle-bg" src="https://cdn.shopify.com/s/files/1/0689/1443/t/34/assets/Beach_1920.jpg?v=1029210661698833530" alt="">
								<img class="bottle-img" src="https://cdn.shopify.com/s/files/1/0689/1443/t/34/assets/Glacier_OK.png?v=7185877315400411030" />
							</div>
						</div>
					</div>
					<!--=====End Body Swiper Elements=====-->
					<!--=====Body Swiper Buttons Prev-Next=====-->
					<div class="button-wrapper">
						<div class="swiper-button swiper-prev-button">
							<svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.2" d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
							</svg>
						</div>
						<div class="swiper-button swiper-next-button">
							<svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.2" d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
							</svg>
						</div>
					</div>
					<div class="swiper-pagination"></div>
					<!--=====End Body Swiper Buttons Prev-Next=====-->
				</div>
			</div>
			<!--=====End Body Swiper=====-->
		</div>
		<!--=====End Index Body=====-->
		
		<!--=====Script Import Files=====-->
		<script src='https://unpkg.com/swiper/swiper-bundle.min.js'></script>
		<script src="./script.js"></script>
		<!--=====Script Import Files=====-->

		<!--=====Script Dropdown=====-->
		<script>
			function myFunction() {
			  document.getElementById("myDropdown").classList.toggle("show");
			}		
			function myFunction() {
			  document.getElementById("myDropdown2").classList.toggle("show");
			}		
			// Close the dropdown menu if the user clicks outside of it
			window.onclick = function (event) {
			  if (!event.target.matches('.dropbtn')) {
			    var dropdowns = document.getElementsByClassName("dropdown-download");
			    var i;
			    for (i = 0; i < dropdowns.length; i++) {
			      var openDropdown = dropdowns[i];
			      if (openDropdown.classList.contains('show')) {
			        openDropdown.classList.remove('show');
			      }
			    }
			  }
			}
		</script>
		<!--=====End Script Dropdown=====-->
	</body>
<!--==========-->
</html>
