<!DOCTYPE html>
<html lang="pt-br" >
<!--==========-->
	<head>
		<!--=====Meta Config.=====-->
	  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
		<!--=====Meta Config.=====-->
	</head>
<!--==========-->
	<body>
			<!--=====Header Navbar=====-->
			<div class="header">
				<!--=====Navbar Inine=====-->
				<div class="download-btn-container menu-icon">
					<a><i onclick="myFunction()" title="Download List" class="icon-menu-navbar dropbtn bx bx-menu-alt-left"></i></a>
					<div id="myDropdown2" class="dropdown-download">
						<a href="#">Home</a>
						<a href="#">Empresas</a>
						<a href="#">Negocie</a>
						<a href="#">Sobre Nós</a>
					</div>
				</div>
				<!--=====End Navbar Inine=====-->
				<!--=====Navbar Dropdown Width <= 800px=====-->
				<img class="logo" src="https://cdn.shopify.com/s/files/1/0689/1443/files/CLOSCA-LOGO-WEB-BLACK_130x@2x.png?v=1559116993" />
				<div class="header-menu">
					<a href="#">Home</a>
					<a href="#">Empresas</a>
					<a href="#">Negocie</a>
					<a href="#">Sobre Nós</a>
				</div>
				<!--=====End Navbar Dropdown Width <= 800px=====-->
				<!--=====Navbar Icons Search and Perfil====-->
				<div class="header-icons">
					<i class='search-icon bx bx-search-alt' ></i>
					<i class='perfil-icon bx bx-user'></i>
				</div>
				<!--=====End Navbar Icons Search and Perfil=====-->
			</div>
			<!--=====End Header Navbar=====-->
	</body>
<!--==========-->
</html>
